input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  -moz-appearance: textfield;
}
.contentWrap {
  min-height: calc(100vh - 200px);
}
