@import '~bootstrap/scss/functions';
@import './helpers/variables';
@import '~bootstrap/scss/bootstrap';
@import './mixin/productCards';
@import './components/CategoryCard';
@import './base/layout';
@import './base/site';
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;700&display=swap");
.square-border {//背景樣式正方形
  position: absolute;
  width: 200px;
  height: 200px;
  border: 3px solid rgb(223, 238, 245);
  z-index: -1;
}
.square {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: rgb(223, 238, 245);
  z-index: -1;
}
.bg-grad {//背景淺藍漸層
  background: linear-gradient(white, rgb(223, 238, 245), white);
}
.bg-img-main {
  background-size: cover;
  object-fit: fill;
  height: 400px;
  min-height: 200px;
}
.vertical-box {
  max-height: 300px;
  display: flex;
}
.vertical-content {
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-rl;
  letter-spacing: 0.5rem;
}
